.cartMenu {
  position: fixed;
  top: 60px; /* Adjust based on your navigation height */
  right: 20px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}

.cartMenu h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.cartItemsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.cartItem:last-child {
  margin-bottom: 0;
}

.itemDetails {
  flex-grow: 1;
  margin-left: 10px;
}

.itemDetails p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.removeButton,
.checkoutButton {
  background: none;
  border: none;
  color: #ff5252;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.removeButton:hover {
  color: #d32f2f;
}

.checkoutButton {
  border-radius: 8px;
  border: 1px solid #ff5252;
  margin-top: 20px;
  padding: 5px;
}

.checkoutButton:hover {
  color: white;
  background-color: #333;
}

.checkoutButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartMenu p {
  text-align: center;
  color: #777;
  font-size: 14px;
}

@media only screen and (max-width: 480px) {
  .cartMenu {
    top: 200px; /* Adjusted for mobile to be lower */
    right: 20px; /* Adjust right position for mobile */
    width: 90%; /* Ensure cart menu takes most of the screen width on mobile */
    max-height: 300px; /* Adjust max-height for mobile */
  }
}
