.main {
  width: 50%;
  padding: 2rem;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

@media only screen and (max-width: 480px) {
  .main {
    margin-right: 33%;
  }
}
